.green{
    color: green;
}
.red{
    color: red;
}
.uppercase{
    text-transform: uppercase;
}
.ui-datatable table { table-layout: auto !important; }
.table_width{
    max-width:3000px;
    overflow-x:scroll; 
}